{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block content %}

<div class="container-fluid">

<section class="content">
    <div class="titles">
        <h1 class="text-big" id="web" style="background-color:rgb(209, 209, 209); color:rgb(94, 94, 94)"> 
            Common Therapy Techniques
        </h1>
        <text>
            There are a wide variety of therapy modalities offered which can be overwhelming and confusing to those 
            new to navigating them. This guide covers some of the more common approaches. If you are already seeking 
            mental healthcare via a mental healthcare provider, your provider can also be a helpful resource in explaining 
            their own modality and helping you to navigate this process. Finding a provider you connect with and can trust 
            is the most important thing when looking for mental healthcare options. However, it is also important to 
            explore different therapy techniques to find techniques that best suit you and your needs. 
        </text>
    </div>
    <div>
        <h2>Psychotherapy (or "talk therapy")</h2>
        <div>
            <h4 style="background-color:rgb(210, 229, 235)">Cognitive Behavioral Therapy (CBT)</h4>
            <text>“A short-term, goal-oriented therapy that focuses on the link between our thoughts 
                (cognition) and our actions (behavior). It is intended to help people change thought 
                patterns that cause unhealthy, unproductive, or incapacitating behavior.” Often used 
                to treat “anxiety, depression, stress, or phobias. It’s also popular among people 
                seeking to overcome harmful habits and addictions, such as smoking, overeating, or gambling. 
                During CBT sessions, you work with your therapist to learn how to recognize persistent negative 
                thoughts or beliefs and respond to them more productively.”
                <cite><a href="https://manhattanmentalhealthcounseling.com/different-types-of-psychotherapy-explained/" target="blank"><sup>1</sup></a></cite>
            </text>
        </div>

        <div>
            <h4 style="background-color:rgb(210, 229, 235)">Dialetical Behavioral Therapy (DBT)</h4>
            <text>
                “​​A form of cognitive behavior therapy. Its primary aim is to give people the skills to regulate their emotions, handle stress in a healthy manner, and improve relationships, and live mindfully. Originally developed to treat people with borderline personality disorder, DBT is now used to treat a variety of mental conditions and is believed to be especially helpful for people with seemingly uncontrollable, intense negative emotions or those who may incline toward self-harm. In both situations, DBT patients learn how to label emotions, handle angry feelings and navigate conflict without giving into impulsive tendencies, and develop awareness of their feelings during the present moment.”
                <cite><a href="https://manhattanmentalhealthcounseling.com/different-types-of-psychotherapy-explained/" target="blank"><sup>2</sup></a></cite>
            </text>
        </div>

        <div>
            <h4 style="background-color:rgb(210, 229, 235)">Mindfulness-Based Cognitive Therapy (MBCT)</h4>
            <text>
                “A type of psychotherapy that involves a combination of cognitive therapy, meditation, and the cultivation of a present-oriented, non-judgmental attitude called "mindfulness." Mindfulness-based cognitive therapy builds upon the principles of cognitive therapy by using techniques such as mindfulness meditation to teach people to consciously pay attention to their thoughts and feelings without placing any judgments upon them.”
                <cite><a href="https://www.verywellmind.com/mindfulness-based-cognitive-therapy-1067396" target="blank"><sup>3</sup></a></cite>
            </text>
        </div>

        <div>
            <h4 style="background-color:rgb(210, 229, 235)">Rational Emotive Behavior Therapy (REBT)</h4>
            <text>
                “A type of cognitive behavioral therapy (CBT). REBT is an action-oriented approach that’s focused on helping people deal with irrational beliefs and learn how to manage their emotions, thoughts, and behaviors in a healthier, more realistic way. A core concept of REBT is the ABC model. This model explains how, while we may blame external events for our unhappiness, it is our interpretation of these events that truly lies at the heart of our psychological distress. "ABC" is an acronym for:1 A: Activating event, which is when something happens in the environment around you; B: Belief, which describes your thoughts about the event or situation; C: Consequence, which is your emotional response to your belief”
                <cite><a href="https://www.verywellmind.com/rational-emotive-behavior-therapy-2796000" target="blank"><sup>4</sup></a></cite>
            </text>
        </div>
        <div>
            <h4 style="background-color:rgb(210, 229, 235)">Trauma-Focused Therapy (TF-CBT)</h4>
            <text>
                “Addresses the specific emotional and mental health needs of children, adolescents, adult survivors, and families who are struggling to overcome the destructive effects of early trauma. Trauma-focused cognitive behavioral therapy (TF-CBT) is especially sensitive to the unique problems of youth with post-traumatic stress and mood disorders resulting from abuse, violence, or grief. Because the client is usually a child, TF-CBT often brings non-offending parents or other caregivers into treatment and incorporates principles of family therapy.Anyone who has experienced a single or repeated experience of sexual, physical, or mental abuse or who has developed post-traumatic symptoms, depression, or anxiety as a result of the loss of a loved one or exposure to violence in the home or community can benefit from TF-CBT.”
                <cite><a href="https://www.psychologytoday.com/us/therapy-types/trauma-focused-cognitive-behavior-therapy" target="blank"><sup>5</sup></a></cite>
            </text>
        </div>
        <div>
            <h4 style="background-color:rgb(210, 229, 235)">Psychodynamic Therapy</h4>
            <text>
                “Based on the assumption that you are having emotional problems because of unresolved, generally unconscious conflicts, often stemming from childhood. The goal of this type of therapy is for you to understand and better manage these feelings by talking about the experiences. Psychodynamic therapy is done over a period of at least several months, although it can last longer, even years.”
                <cite><a href="https://www.verywellmind.com/psychodynamic-therapy-definition-uses-effectiveness-5094933#:~:text=Psychodynamic%20therapy%20is%20an%20approach,better%20choices%20about%20their%20lives" target="blank"><sup>6</sup></a></cite>
            </text>
        </div>
        <div>
            <h4 style="background-color:rgb(210, 229, 235)">Art Therapy (or other forms of creative therapy)</h4>
            <text>
                “The use of artistic methods to treat psychological disorders and enhance mental health is known as art therapy. The goal of art therapy is to utilize the creative process to help people explore self-expression and, in doing so, find new ways to gain personal insight and develop new coping skills. The creation or appreciation of art is used to help people explore emotions, develop self-awareness, cope with stress, boost self-esteem, and work on social skills.”
                <cite><a href="https://www.verywellmind.com/what-is-art-therapy-2795755" target="blank"><sup>7</sup></a></cite>
            </text>
        </div>
        <div>
            <h4 style="background-color:rgb(210, 229, 235)">Eye Movement Desensitization and Reprocessing Therapy (EMDR)</h4>
            <text>
                “A form of trauma-focused cognitive behavioral therapy specifically developed for reducing the power of traumatic memories. A trained therapist will guide you to think about a trauma while moving your eyes back and forth, left to right. Over time, this will help your brain reprocess the memories so that they no longer cause as much pain.”
                <cite><a href="https://www.brainline.org/treatment-hub/eye-movement-desensitization-reprocessing-emdr" target="blank"><sup>8</sup></a></cite>
            </text>
        </div>
        <div>
            <h4 style="background-color:rgb(210, 229, 235)">Somatic Therapy</h4>
            <text>
                “Somatic therapy incorporates the mind, body, and spirit into therapeutic healing work. Somatic therapy aims to treat the effects of PTSD and other mental and emotional health issues through the connection of mind and body and uses a body-centric approach. Unlike standard mental health therapy types like CBT that focus prominently on the mind, somatic therapy incorporates body-oriented modalities such as dance, breathwork, and meditation to support patients through their healing journeys.”
                <cite><a href="https://www.verywellmind.com/what-is-somatic-therapy-5190064" target="blank"><sup>9</sup></a></cite>
            </text>
        </div>
        <div>
            <h4 style="background-color:rgb(210, 229, 235)">Solution-Focused Brief (SFBT)</h4>
            <text>
                “Solution-Focused Brief Therapy (SFBT) is a short-term goal-focused evidence-based therapeutic approach, which incorporates positive psychology principles and practices, and which helps clients change by constructing solutions rather than focusing on problems. In the most basic sense, SFBT is a hope friendly, positive emotion eliciting, future-oriented vehicle for formulating, motivating, achieving, and sustaining desired behavioral change.”
                <cite><a href="https://solutionfocused.net/what-is-solution-focused-therapy/" target="blank"><sup>10</sup></a></cite>
            </text>
        </div>
        <div>
            <h4 style="background-color:rgb(210, 229, 235)">Attachment-Based Therapy</h4>
            <text>
                “An attachment-based approach to therapy looks at the connection between an infant’s early attachment experiences with primary caregivers, usually with parents, and the infant’s ability to develop normally and ultimately form healthy emotional and physical relationships as an adult. Attachment-based therapy aims to build or rebuild a trusting, supportive relationship that will help prevent or treat anxiety or depression.”
                <cite><a href="https://www.psychologytoday.com/us/therapy-types/attachment-based-therapy" target="blank"><sup>11</sup></a></cite>
            </text>
        </div>

        <h2>Medication Therapy</h2>
        <text>
            “Prescription drugs can be beneficial to some people with mental or emotional disorders. If you and your doctor decide that taking medication should be a part of your recovery journey, make sure to ask about risk, possible side-effects, and interaction with certain foods, alcohol and other medications. Medication should be taken in the prescribed dosage and at prescribed intervals and should be monitored daily. While some medications (like tranquilizers used to manage acute anxiety) work almost immediately, it’s important to remember that many mental health medications take time to work and that it might be a month or two before they have their full effect. You may also find that you need to go through some trial and error before you find a medication that is the right fit for you. It can be frustrating to have to try different medications while you’re dealing with mental health symptoms, but often it’s well worth the wait.”
            <cite><a href="https://mhanational.org/mental-health-treatments" target="blank"><sup>12</sup></a></cite>
        </text>
    </div>
    <hr>
</section>
</div>
{% endblock %}
