{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block content %}

<div class="container-fluid">

<section class="content">
    <div class="titles">
        <h1 class="text-big" id="web" style="background-color:rgb(209, 209, 209); color:rgb(94, 94, 94)"> 
            Common Types of Mental Healthcare Providers
            <cite><a href="https://www.nami.org/About-Mental-Illness/Treatments/Types-of-Mental-Health-Professionals" target="blank"><sup>1</sup></a></cite>
        </h1>
    </div>
    <h5>*Ability to make diagnoses and prescribe medications</h5>
    <div>
        <div class="psychiatrists">
            <h4 style="background-color:rgb(210, 229, 235)">Psychiatrists*</h4>
            <h5>Common Degrees:</h5>
                <ul>
                    <li>M.D., Doctor of Medicine</li>
                    <li>D.O., Doctor of Osteopathic Medicine</li>
                    <li>Completion of residency training in psychiatry</li>
                </ul>
            <h5 style="display:inline">Training & Approach:</h5> A psychiatrist is a physician with special training in the diagnosis and treatment of mental and emotional illnesses. They can prescribe medications but often do not counsel patients.
        </div>
    
        <div class="psychologists">
            <h4 style="background-color:rgb(210, 229, 235)">Psychologists</h4>
            <h5>Common Degrees:</h5>  
                <ul>
                    <li>Ph.D., Doctor of Philosophy in a field of psychology</li>
                    <li>Psy.D., Doctor of Psychology</li>
                </ul>          
            <h5 style="display:inline">Training & Approach:</h5> Psychologists evaluate a person’s mental health using clinical interviews, psychological evaluations and testing. They make diagnoses and provide individual and group therapy.                
        </div>
        
        <div class="counselors_clinicians_therapists">
            <h4 style="background-color:rgb(210, 229, 235)">Counselors, Clinicians, Therapists</h4>
            <h5>Common Degrees:</h5>
                <ul>
                    <li>M.A. or M.S., Master’s Degree in a mental health-related field</li>
                </ul>
            <h5>Licensure & Certification:</h5>
                <ul>
                    <li>LPC, Licensed Professional Counselor</li>
                    <li>LMFT, Licensed Marriage and Family Therapist</li>
                    <li>LCADAC, Licensed Clinical Alcohol & Drug Abuse Counselor</li>
                </ul>
            <h5 style="display:inline">Training & Approach:</h5> Counselors, clinicians, and therapists evaluate a person’s mental health and use therapeutic techniques based on specific training programs. They cannot prescribe medication but they can work in conjuction with a physician or nurse practitioner to make reccomendations for medications.
        </div>
        
        <div class="clinical_social_workers">
            <h4 style="background-color:rgb(210, 229, 235)">Clinical Social Workers</h4>
            <h5>Common Degrees:</h5>
                <ul>
                    <li>M.S.W., Master’s Degree in social work</li>
                </ul>
            <h5>Licensure & Certification:</h5>
                <ul>
                    <li>LICSW, Licensed Independent Social Workers</li>
                    <li>LCSW, Licensed Clinical Social Worker</li>
                    <li>ACSW, Academy of Certified Social Worker</li>
                </ul>
            <h5 style="display:inline">Training & Approach:</h5> Clinical social workers are similar to counselors, clinicians, and therapists. They evaluate a person’s mental health and use therapeutic techniques based on specific training programs. They are also trained in case management and advocacy services.
        </div>
        
        <div class="psychiatric_np">
            <h4 style="background-color:rgb(210, 229, 235)">Psychiatric Or Mental Health Nurse Practitioners*</h4>
            <h5>Common Degrees:</h5>
                <ul>
                    <li>M.S., Master of Science</li>
                    <li>Ph.D., Doctor of Philosophy in psychiatry nursing</li> 
                </ul>
            <h5>Licensure & Certification:</h5>
                <ul>
                    <li>NCLEX, National Council Licensure Examination</li>
                    <li>PMHNP-BC, Board Certification in psychiatric nursing through the American Academy of Nurses Credentialing Center</li> 
                </ul>
            <h5 style="display:inline">Training & Approach:</h5> A psychiatric or mental health nurse practitioner is a nurse practitioner with special training in the diagnosis and treatment of mental and emotional illnesses. These providers can prescribe medications in some cases.
        </div>
        
        <div class="pcp">
            <h4 style="background-color:rgb(210, 229, 235)">Primary Care Physicians (PCP)*</h4>
            <h5>Common Degrees:</h5>
                <ul>
                    <li>M.D., Doctor of Medicine</li>
                    <li>D.O., Doctor of Osteopathic Medicine</li>
                </ul>
            <h5 style="display:inline">Training & Approach:</h5> A primary care physician is a general practice physician that can make diagnoses and prescribe medications. PCPs do not specialize in mental health care but can work together with mental health professionals to determine an individual’s best treatment plan.
        </div>
        
        <div class="np">
            <h4 style="background-color:rgb(210, 229, 235)">Family Nurse Practitioners (FNP)*</h4>
            <h5>Common Degrees:</h5>
                <ul>
                    <li>M.S., Master of Science</li>
                    <li>Ph.D., Doctor of Philosophy in nursing</li>
                </ul>
            <h5>Licensure & Certification:</h5>
                <ul>
                    <li>NCLEX, National Council Licensure Examination</li>
                    <li>FNP-BC, Family Nurse Practitioner Board Certified</li>
                </ul>
            <h5 style="display:inline">Training & Approach:</h5> A family nurse practitioner is a general practice nurse practitioner that can make diagnoses and prescribe medications in certain cases. FNPs do not specialize in mental health care but can work together with mental health professionals to determine an individual’s best treatment plan.
        </div>
        
        <div class="psychiatric_pharmacists">
            <h4 style="background-color:rgb(210, 229, 235)">Psychiatric Pharmacists*</h4>
            <h5>Common Degrees:</h5>
                <ul>
                    <li>PharmD, Doctor of Pharmacy</li>
                </ul>
            <h5 style="display:inline">Training & Approach:</h5> Psychiatric pharmacists can prescribe or recommend appropriate medications and are skilled at medication management.
        </div>
        
        <div class="social_workers">
            <h4 style="background-color:rgb(210, 229, 235)">Social Workers</h4>
            <h5>Common Degrees:</h5>
                <ul>
                    <li>B.A. or B.S., Bachelor of Arts or Bachelor of Science</li>
                </ul>
            <h5 style="display:inline">Training & Approach:</h5> Social workers provide case management, inpatient discharge planning services, placement services and other services to support healthy living.
        </div>
        
        <div class="pastoral_counselors">
            <h4 style="background-color:rgb(210, 229, 235)">Pastoral Counselors</h4>
            <h5 style="display:inline">Training & Approach:</h5> Pastoral counselors are clergy members trained in clinical pastoral education to diagnose and provide counseling.
        </div>
    </div>
    <hr>
</section>
</div>
{% endblock %}
