{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block content %}

<div class="container-fluid" style="background-color:#9779bd; color:white">
    <h1 id="web" style=font-size:45px>A Resource for Princeton Students Seeking Mental Healthcare</h1>
    <h4>
        ProviderFinder is an educational platform for Princeton students designed to make the process of seeking mental healthcare easier
    </h4>
    <br>
</div>

<div class="container-fluid">
    <hr>
<section class="secondsection">
    <div class="box-main">
        <div class="secondHalf">
            <h2 class="text-big" id="program">
                <a href="/flowchart">Flowchart of Supportive Resources Available to Princeton Students</a>
            </h2>
            <p class="text-small">
                Designed to help you choose which resources could be best for you
            </p>
        </div>
    </div>
</section>

<section class="secondsection">
    <div class="box-main">
        <div class="secondHalf">
            <h2 class="text-big" id="program">
                <a href="/oncampusresources">On-Campus Resources</a>
            </h2>
            <p class="text-small">
                Explore Princeton's free on-campus mental healthcare resources
            </p>
        </div>
    </div>
</section>

<section class="secondsection">
    <div class="box-main">
        <div class="secondHalf">
            <h2 class="text-big" id="program">
                <a href="/offcampusproviderfinder">Off-Campus Provider Search</a>
            </h2>
            <p class="text-small">
                Search for off-campus providers by insurance accepted, types of therapies offered, titles/degrees, 
                walkable from campus, specialty areas, and telehealth options
            </p>
        </div>
    </div>
</section>

<section class="secondsection">
    <div class="box-main">
        <div class="secondHalf">
            <h2 class="text-big" id="program">
                Mental Healthcare Resource Guide
                <!-- <a href="/mentalhealthcarebasics">Mental Healthcare Resource Guide</a> -->
            </h2>
            <p class="text-small">
                A resource for those new to therapy or for those looking to explore and learn more about the US
                mental healthcare system
            </p>
            <ul>
                <li>
                    <h4>
                        <a href="/commontherapytechniques">Common Therapy Techniques</a>
                    </h4>
                </li>
                <li>
                    <h4>
                        <a href="/typesofproviders">Common Types of Mental Healthcare Providers</a>
                    </h4>
                </li>

            </ul>
        </div>
    </div>
</section>

<hr>
</div>

<div class="container-fluid">
    <div class="container-fluid bg-warning">
        <section class="secondsection">
            <div class="box-main">
                <div class="secondHalf">
                    <h3 class="text-big" id="program">Disclaimer</h3>
                    <text>
                        This site is not meant as a resource for those in urgent, crisis situations. If you or someone you know is in crisis, please seek help immediately. For more 
                        information on how to recieve urgent mental health care as a Princeton student, visit: <a href="https://uhs.princeton.edu/counseling-psychological-services" target="blank">https://uhs.princeton.edu/counseling-psychological-services.</a>
                        In addition, I am not a healthcare provider or mental health professional. This site is meant to be used as a resource of information and does not constitute clinical or treatment advice.
                    </text>
                </div>
            </div>
        </section>
        <br>
    </div>
    <br>
</div>


<!-- <section class="secondsection">
    <div class="box-main">
        <div class="secondHalf">
            <h2 class="text-big" id="program">
                <a href="/princetonstudentplan">Information on Princeton Student Health Plan</a>
            </h2>
            <p class="text-small">
                A resource to help students navigate the Princeton-specific Aetna plan
            </p>
        </div>
    </div>
</section> -->


{% endblock %}