{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block content %}

<section class="firstsection">
    <div class="box-main">
        <div class="firstHalf">
            <h1 class="text-big" id="web">
                A Resource for Princeton Students Seeking Mental Healthcare
            </h1>
             
            <p class="text-small">
                ProviderFinder is an educational platform for Princeton students designed to make the process of seeking mental healthcare easier.
                It aims to help students navigate the Princeton University Student Health Insurance Plan, find off-campus mental healthcare providers (if desired), 
                and make informed choices related to seeking mental healthcare (e.g. types of therapy, what associated costs would look like, etc)
            </p>


        </div>
    </div>
</section>

<section class="secondsection">
    <div class="box-main">
        <div class="secondHalf">
            <h2 class="text-big" id="program">
                <a href="/oncampusresources">On-Campus Resources</a>
            </h2>
            <p class="text-small">
                Explore Princeton's free on-campus mental healthcare resources
            </p>
        </div>
    </div>
</section>

<section class="secondsection">
    <div class="box-main">
        <div class="secondHalf">
            <h2 class="text-big" id="program">
                <a href="/offcampusproviderfinder">Off-Campus Provider Search</a>
            </h2>
            <p class="text-small">
                Search for off-campus providers by insurance accepted, types of therapies offered, titles/degrees, 
                walkable from campus, specialty areas, and telehealth options
            </p>
        </div>
    </div>
</section>


<section class="secondsection">
    <div class="box-main">
        <div class="secondHalf">
            <h2 class="text-big" id="program">
                <a href="/princetonstudentplan">Information on Princeton Student Health Plan</a>
            </h2>
            <p class="text-small">
                A resource to help students navigate the Princeton-specific Aetna plan
            </p>
        </div>
    </div>
</section>

<section class="secondsection">
    <div class="box-main">
        <div class="secondHalf">
            <h2 class="text-big" id="program">
                <a href="/mentalhealthcarebasics">Mental Healthcare Resource Guide</a>
            </h2>
            <p class="text-small">
               A resource for those new to therapy or for those looking to explore and learn more about the US
               mental healthcare system
            </p>
        </div>
    </div>
</section>
{% endblock %}