{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block content %}

<div class="container-fluid">
    <section class="content">
        <div class="titles">
            <h1 class="text-big" id="web" style="background-color:rgb(209, 209, 209)"> 
                Mental Healthcare Resource Guide
            </h1>
        </div>
    
        <div>
            <h2 class="text-big" id="program">
                <a href="/overviewushealth">Overview of US Healthcare System & Definitions</a>
            </h2>
        </div>
    
        <div>
            <h2 class="text-big" id="program">
                <a href="/commontherapytechniques">Common Therapy Techniques</a>
            </h2>
        </div>
    
        <div>
            <h2 class="text-big" id="program">
                <a href="/typesofproviders">Common Types of Mental Healthcare Providers</a>
            </h2>
        </div>
    </section>
</div>

{% endblock %}