{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block content %}
<div class="container-fluid" style="background-color:#9779bd; color:white">
    <h1 class="text-big" id="web">
        On-Campus Resources for Support
    </h1>
    <p class="text-small">
        For these on-campus mental health care services, I have highlighted important information from their respective websites that may be relevant to those initially seeking care from these sources. This information, however, is not comprehensive. For more detailed information, please refer to their websites (linked below). In addition, it should be noted that many of these resources can also provide referrals for students for off-campus providers. Finally, I would like to state that I am not advocating for a specific resource or set of resources, I just want people to know where to find resources and options for support.
    </p>
    <br>
</div>

<div class="container-fluid">
    <div class="professional">
        
        <h2>Confidential Counseling Resources Offered By Licensed Mental Healthcare Professionals</h2>
        <br>
        <div class="container-fluid">
            <div class="CPS" style="background-color:#d3c5e3;">
                <div class="container-fluid">
                    <a href="https://uhs.princeton.edu/counseling-psychological-services" target="blank"><h3 id="CPS-content">Counseling and Psychological Services (CPS)</h3></a>
                    <p>
                        CPS services support the psychological well-being of the Princeton University community and are available at no cost to currently enrolled Princeton students and their eligible dependents.
                        <cite><a href="https://uhs.princeton.edu/counseling-psychological-services" target="blank"><sup>1</sup></a></cite>
                    </p>
                    <div class="container-fluid">
                        <h4>
                            Services Provided (free for students and eligible dependents)
                            <cite><a href="https://uhs.princeton.edu/counseling-psychological-services" target="blank"><sup>2</sup></a></cite>
                        </h4>
                        <div class="container-fluid">
                            <ul>
                                <li>Counseling: initial consultations, individual counseling, couples counseling, and group counseling and support</li>
                                <li>Urgent Consultations: care in urgent situations, for you or someone else</li>
                                <li>Psychiatric Consultation: for those considering or continuing psychiatric medication</li>
                                <li>Mind-Body Programs: meditation, relaxation, mindfulness and more</li>
                                <li>Campus Outreach & Training: campus-wide training, skills-based consultations, workshops and outreach events</li>
                                <li>Specialized Treatment: for interdisciplinary treatment needs that may involve physical and psychological concerns</li>
                                <li>Referrals to local mental health providers: information about how to follow-up with referrals and Thriving Campus to find a community provider</li>
                            </ul>
                        </div>

                        <h4>
                            Process of getting support
                            <cite><a href="https://uhs.princeton.edu/counseling-psychological-services" target="blank"><sup>3</sup></a></cite>
                        </h4>
                        <div class="container-fluid">
                            <ul>
                                <li>Call 609-258-3141 to make an appointment for an initial 20-minute consultation. You can also schedule your initial consultation appointment <a href="http://princeton.edu/MyUHS" target="blank">online</a></li>
                            </ul>
                        </div>
                        <h4>
                            What happens once you schedule an appointment or otherwise contact CPS
                            <cite><a href="https://uhs.princeton.edu/counseling-psychological-services/counseling/confidentiality-cps" target="blank"><sup>4</sup></a></cite>
                        </h4>
                        <div class="container-fluid">
                            <ul>
                                <li>We do not release information to anyone outside of CPS (including parents, administrators, faculty, or potential employers), or disclose that you have received care, without your written permission. </li>
                                <li>Exceptions to this rule are rare and include the following circumstances:</li>
                                <ul>
                                    <li>when required by law (for instance, in the case of reports of child abuse);</li>
                                    <li>in life-threatening situations;</li>
                                    <li>in the case of emergency hospitalization; or</li>
                                    <li>when consultation with non-CPS treatment providers within University Health Services is warranted to provide continuity of care for students who may have both physical and psychological concerns.</li>
                                </ul>
                                <li>There’s no obligation to continue after the first appointment</li>
                            </ul>
                        </div>
                        <h4><a href="https://uhs.princeton.edu/about-us/staff" target="blank">Directory of CPS Providers</a></h4>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="container-fluid">
            <div class="SHARE" style="background-color:#d3c5e3;">
                <div class="container-fluid">
                    <a href="https://share.princeton.edu/" target="blank"><h3 id="SHARE-content">Sexual Harassment/Assault Advising, Resources, and Education (SHARE)</h3></a>
                    <p>
                        The SHARE office is a supportive and confidential space for Princeton University students to explore their options after experiencing interpersonal violence, including sexual harassment, sexual assault, domestic/dating violence, and stalking.
                        <cite><a href="https://share.princeton.edu/about/frequently-asked-questions" target="blank"><sup>5</sup></a></cite>
                    </p>
                    <div class="container-fluid">
                        <h4>Services Provided</h4>
                        <div class="container-fluid">
                            <ul>
                                <li>
                                    SHARE provides crisis response, support, short-term counseling, advocacy, education, and referral services to those who are dealing with incidents of interpersonal violence and abuse including sexual harassment, sexual assault, dating/domestic violence, and stalking.
                                    <cite><a href="https://share.princeton.edu/about" target="blank"><sup>6</sup></a></cite>
                                </li>
                                <li>
                                    SHARE offers short-term psychotherapy services with a licensed mental health professional. These confidential sessions help student clients develop skills that can aid them in coping with interpersonal violence issues and support their healing process.
                                    <cite><a href="https://share.princeton.edu/support-services/our-services" target="blank"><sup>7</sup></a></cite>
                                </li>
                                <ul>
                                    <li>The short-term psychotherapy services provided by the SHARE Office are free for students</li>
                                </ul>
                            </ul>
                        </div>

                        <h4>
                            Process of getting support
                            <cite><a href="https://share.princeton.edu/support-services/request-appointment" target="blank"><sup>8</sup></a></cite>
                        </h4>
                        <div class="container-fluid">
                            <ul>
                                <li>To request an appointment with SHARE, students can contact SHARE directly by phone (609-258-3310), email (share@princeton.edu), or complete an appointment request form through the <a href="https://princeton.medicatconnect.com/forms.aspx" target="blank">MyUHS</a> portal.</li>
                                <li>To access the appointment form:</li>
                                <ol>
                                    <li>Login to the <a href="https://princeton.medicatconnect.com/forms.aspx" target="blank">MyUHS</a> portal</li>
                                    <li>Select "Forms" on the top menu</li>
                                    <li>Scroll down the page to the SHARE section and select SHARE Appointment Request</li>
                                    <li>Complete the online form.  All requests will be responded to within 24 hours, when submitted on a business day. All other requests will be responded to on the next business day.</li>
                                </ol>
                            </ul>
                        </div>

                        <h4>
                            What happens once you schedule an appointment or otherwise contact the SHARE Office
                            <cite><a href="https://share.princeton.edu/about/frequently-asked-questions" target="blank"><sup>9</sup></a></cite>
                        </h4>
                        <div class="container-fluid">
                            <ul>
                                <li>You can disclose as much or as little as you choose.  Speaking with a SHARE advocate is confidential, except in cases of child abuse, elder abuse or if the person poses an imminent risk of serious harm  to themselves or another person.  Meeting with SHARE does not obligate you to take further action.  The services SHARE provides are customized to meet the individual on a case-by-case basis.  SHARE's goal is to provide information to enable you to make informed decisions and obtain access to supportive resources. </li>
                            </ul>
                        </div>

                        <h4><a href="https://share.princeton.edu/about/staff" target="blank">Directory of SHARE Providers</a></h4>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <br>

    </div>

    <br>
    <div class="non-professional">
        <h2>Other Non-Professional Sources of Support Available to Princeton Students</h2>
        <div class="container-fluid col-xs-6">
            <div class="ORL" style="background-color:#d3c5e3;">
                <div class="container-fluid">
                    <a href="https://religiouslife.princeton.edu/" target="blank"><h3 id="ORL-content">Office of Religious Life (ORL)</h3></a>
                    <ul>
                        <li>
                            The Office of Religious Life Chaplains (ORL) has confidential counselors, from multi-religious ideologies, who can provide spiritual and religious support for victims/survivors and can connect them to resources from the tradition(s) of their choice, to promote healing and empowerment
                            <cite><a href="https://share.princeton.edu/support-services/supportive-resources" target="blank"><sup>10</sup></a></cite>
                        </li>
                    </ul>
                    <br>
                </div>
            </div>
        </div>
        <div class="container-fluid col-xs-6">
            <div class="SHARE_Peers" style="background-color:#d3c5e3;">
                <div class="container-fluid">
                    <a href="https://share.princeton.edu/about/share-peer-directory" target="blank"><h3 id="SHARE-Peer-content">SHARE Peers</h3></a>
                    <ul>
                        <li>
                            SHARE Peers are supportive and trained student liaisons to the SHARE office who can help get you connected to resources. They are private resources who check in with confidential SHARE staff when they receive disclosures, but are not mandated to report disclosures to TItle IX or other university staff. SHARE Peers do not have legal or licensure protections and as such can be subject to subpoena. SHARE Peers contact information is available on the SHARE Peers page of the website. 
                            <cite><a href="https://share.princeton.edu/support-services/supportive-resources" target="blank"><sup>13</sup></a></cite>
                        </li>
                    </ul>
                    <br>
                </div>
            </div>
            <br>
        </div>

        <div class="container-fluid col-xs-6">
            <div class="PPN" style="background-color:#d3c5e3;">
                <div class="container-fluid">
                    <a href="https://princetonpeernightline.com/" target="blank"><h3 id="PPN-content">Princeton Peer Nightline (PPN)</h3></a>
                    <ul>
                        <li>
                            Princeton Peer Nightline is an anonymous peer listening service. Our listeners are  students of Princeton University who have been trained and certified as helpline volunteers. We provide empathetic, non-judgmental support to Princeton University students who wish to share a problem, are in need of information, or just want to talk about whatever is on their mind. Whether it’s relationships, academic stress, a fight with a friend or parent, depression, eating disorders, suicidal thoughts, roommate troubles, or just a really bad day, we’re here to listen and make sure that no student has to face their problems alone.
                            <cite><a href="https://princetonpeernightline.com" target="blank"><sup>11</sup></a></cite>
                        </li>
                        <li>
                            Peer Nightline volunteers do not provide professional counseling, but rather supportive listening. Students in crisis will be directed to appropriate professional resources including the CPS counselor on call. We highly recommend that students who are experiencing mental health emergencies reach out to the on-call counselor at CPS (609) 258-3141 or to Public Safety at (609) 258-1000.
                            <cite><a href="https://princetonpeernightline.com" target="blank"><sup>12</sup></a></cite>
                        </li>
                    </ul>
                    <br>
                </div>
            </div>
        </div>
        <div class="container-fluid col-xs-6">
            <div class="CONTACT" style="background-color:#d3c5e3;">
                <div class="container-fluid">
                    <a href="https://contactofmercer.org/" target="blank"><h3 id="CONTACT-content">CONTACT of Mercer County</h3></a>
                    <ul>
                        <li>
                            CONTACT offers hope and support via our Hotlines, CrisisChat, and REASSURANCE services. Our mission is to provide emotional support to people in crisis or distress which increases their sense of well-being and their desire to live. When you call or chat CONTACT, you are free to talk about what’s causing you to feel distressed or upset. Our volunteers listen to you without judgment, and help you feel cared about and safe.  All are welcome to use CONTACT’s services without regard to personal identity, status or situation. CONTACT does not discriminate.
                            <cite><a href="https://contactofmercer.org/" target="blank"><sup>14</sup></a></cite>
                        </li>
                    </ul>
                    <br>
                </div>
            </div>
        </div>

        <br>
    </div>
</div>
<br>
<br>
<br>
{% endblock %}