{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block content %}
<div class="container-fluid">
<section class="firstsection">
    <div class="box-main">
        <div class="firstHalf">
            <h1 class="text-big" id="web" style="background-color:rgb(209, 209, 209); color:rgb(94, 94, 94)">
                On-Campus Resources for Support
            </h1>

            <h3>CPS</h3>

            <img src="../photos/SHARE_logo.png" class="img-fluid" alt="Responsive image">

            <h3>SHARE</h3>
            <img src="SHARE_logo.png" class="img-rounded">
            <h3>Office of Religious Life (ORL)</h3>
            <img src="ORL_logo.png" class="img-rounded">


        </div>
    </div>
</section>
</div>
{% endblock %}