{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block content %}
<div class="container-fluid" style="background-color:#e2a188; color:white">
    <h1 class="text-big" id="web">
        On-Campus Resources for Support
    </h1>
    <br>
</div>

<div class="container-fluid">
    <section class="firstsection">
        <div class="box-main">
            <div class="firstHalf">

                <a href="https://uhs.princeton.edu/counseling-psychological-services" target="blank"><h2>Counseling and Psychological Services (CPS)</h2></a>
                <a href="https://uhs.princeton.edu/counseling-psychological-services" target="blank"><img alt="" src="../photos/UHS_logo.png"></a>

                <a href="https://share.princeton.edu/" target="blank"><h2>Sexual Harassment/Assault Advising, Resources, and Education (SHARE)</h2></a>
                <a href="https://share.princeton.edu/" target="blank"><img alt="" src="../photos/SHARE_logo.png"></a>

                <a href="https://religiouslife.princeton.edu/" target="blank"><h2>Office of Religious Life (ORL)</h2></a>
                <a href="https://religiouslife.princeton.edu/" target="blank"><img alt="" src="../photos/ORL_logo.png"></a>

            </div>
        </div>
    </section>
    <br>
</div>
{% endblock %}