{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block content %}

<div class="container-fluid">

<section class="content">
    <div class="overview-us">
        <h1 class="text-big" id="web" style="background-color:rgb(209, 209, 209);"> 
            Basics of US Healthcare Insurance System
        </h1>
    </div>
    <div>
        <div>Finding a mental healthcare provider often involves navigating the US healthcare insurance system. 
            The US healthcare system, particularly US healthcare insurance, can be complicated and overwhelming to 
            navigate. Below is a brief introduction to the US healthcare insurance structure and some important 
            terms to know as you begin the process of finding a provider. This resource is designed to equip you 
            with basic knowledge to aid you in finding a mental healthcare professional in an informed, cost-efficient 
            way. However, this is by no means a comprehensive resource.</div>
        <div>
            <h3 style="background-color:rgb(210, 229, 235)">Overview</h3>
            <text>You pay an annual premium ?? to be a part of insurance coverage</text>
        </div>
        <div>
            <h3 style="background-color:rgb(210, 229, 235)">Important Terms</h3>
            <h4>Annual Fees</h4>
            <h4>Fees for specific instances of care (e.g. appointment, medication, procedures)</h4>
            <text>Premium</text>
            <br>
            <text><strong>Out-of-Pocket Expenses:</strong> The amount of money you pay for care that is not reimbursed by insurance.</text>
            <br>
            <text><strong>Annual Deductible:</strong></text>
            <br>
            <text>Copay</text>
            <br>
            <text>Annual Out-of-Pocket Maximum</text>
            <br>
            <text>In-Network vs Out-of-Network Providers</text>
            <br>
        </div>
        <!-- <div>
            <h4 style="background-color:rgb(210, 229, 235)">How to navigate your insurance plan</h4>
            <text>Look up your insurance benefits</text>
        </div>
        <div>
            <h4 style="background-color:rgb(210, 229, 235)">What makes up the cost of your care?</h4>
            <text>GRAPHIC HERE</text>
        </div> -->
    </div>
    <hr>
</section>
</div>
{% endblock %}
