{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block content %}

<section class="firstsection">
    <div class="box-main">
        <div class="firstHalf">
            <h1 class="text-big" id="web" style="background-color:rgb(209, 209, 209); color:rgb(94, 94, 94)">
                Information on Princeton Student Health Plan
            </h1>
             
            <p class="text-small">
                what is covered? What changes year-to-year? How do I navigate the US healthcare system
            </p>


        </div>
    </div>
</section>

{% endblock %}